<!DOCTYPE html>
<html>
<head>
    <title>Quiz App</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="header">
        <div class="right">
            <img src="../image/logo.png" alt="" class="logo">
            <div class="name">Quiz App</div>
        </div>
        <nav class="nav">
            <a href="play/play.html">Play Quiz</a>
            <a href="edit/edit.html">Edit Quiz</a>
        </nav>
    </div>
    <h1>Welcome to Quiz App</h1>
    <div class="img-container">
        <img src="../image/img.jpg" alt="" class="img">
    </div>
</body>

</html>