.app{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    gap: 20px;
    background-color: black;
    width: 60%;
    justify-content: center;
    align-content: center;
    margin: 50px auto;
    text-align: center;
}
.header{
    color: orange;
    background-color: gray;
}
.content{
    color: white;
    background-color: gray;
}
.footer{
    color:aqua;
    background-color: gray;
}
a:hover{
    color:rgb(21, 156, 156) ;
}